{% extends "layout.html" %}
{% block content %}
<form id="registerForm" action="{{ url_for('register_route') }}" method="post">
    <div class="form-group">
        <div class="form-group col-md-3">
            <h4>Register</h4>
            <label for="username">Username</label>
            <input class="form-control" id="username" name="username">
        </div>
    </div>
    <div class="form-group">
        <div class="form-group col-md-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
    </div>
    <div class="form-group">
        <div class="form-group col-md-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
    </div>
    <div class="form-group">
        <div class="form-group col-md-3">
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% endblock %}